{{>header}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.20.0/ui/trumbowyg.min.css">

<h2>{{ courseName }} - Add Note</h2>

<form id="note-form" action="../notes" method="post" enctype="multipart/form-data">
    <input type="text" id="title-field" name="title" placeholder="Title"><br>
    <input type="text" id="creator-field" name="creator" placeholder="User"><br>

    <select id="filetype-field" name="filetype">
        <option value="pdf">PDF</option>
        <option value="html">Text</option>
    </select><br>

    <input type="file" id="file-field" name="file" accept="application/pdf"><br>

    <textarea id="textarea" name="text" hidden></textarea>
    <div id="texteditor" hidden></div>

    <button id="submit">Submit</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.20.0/trumbowyg.min.js"></script>
<script>

var filetypeSelect = document.getElementById("filetype-field");
filetypeSelect.addEventListener("change", function() {
    if (filetypeSelect.value == "pdf") {
        $('#texteditor').trumbowyg('destroy');
        $('#texteditor').hide();
        $('#file-field').show();
    } else {
        $('#texteditor').trumbowyg();
        $('#file-field').hide();
    }
});

$('#note-form').submit(function() {
    document.getElementById("textarea").innerHTML = $('#texteditor').trumbowyg('html');
});

</script>
{{> footer}}