{{> header}}

<h2>{{ courseName }}</h2>

<a href="../addNote/">Add Note</a><br>

<h3>Notes</h3>
<ul>
    {{#noteList}}
        <li><a href="{{ id }}/"> {{ title }} by {{ creator }} </a></li>
    {{/noteList}}
</ul>

{{> footer}}