body {
    font-family: Helvetica, sans-serif;
}

.ql-font-inconsolata {
    font-family: "Inconsolata";
}

.ql-font-roboto {
    font-family: "Roboto";
}

.ql-font-arial {
    font-family: "Arial";
}