<!doctype html>
<html>
<head>
    <title>NoteBook</title>
    {{> header}}
</head>
<body>
<main>
{{> navbar}}

<div class="mx-auto">
    <div class="dropdown show mx-auto row">
        <form id="search-form" class="form-inline my-2 my-lg-0" >
            <input class="form-control" id="searchbar" type="text" placeholder="Search Courses">
            <button id="searchbutton" class="btn btn-outline-primary my-2
            my-sm-0" onclick="searchcallback()">Search</button>
        </form>
    </div>
    <ul class="list-group" id="courses-list">
        {{#courseList}}
            <li class="list-group-item"><a href="/courses/{{ id }}/notes/"> {{ name }} </a></li>
        {{/courseList}}
    </ul>
</div>

</main>
<!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<style>
    html, body {
        height: 100%;
    }
    main {
        min-height: calc(100vh - 50px);
    }
    .footer {
        height: 50px;
    }
</style>

<script type="text/javascript">
    $('#search-form').submit(function(ev) {
        ev.preventDefault();
        // ajax stuff...
    });

    function searchcallback(){
        console.log("search button clicked")
        var searchKey = $("#searchbar").val();
        console.log(searchKey)
        $.ajax({
             type: "GET",
             url: "/courses/search/"+ searchKey,
             contentType: "application/json",
             success: function (data, status, jqXHR) {
                $("#courses-list").empty();

                data.map(function(course){
                    $("#courses-list").append('<li class="list-group-item course-list-item"><a href="/courses/' + course.id +'/notes/">' + course.name+ '</a></li>')
                })
             },

             error: function (jqXHR, status) {
                 // error handler
                 console.log(jqXHR);
                 alert('fail' + status.code);
             }
         });

    }

    function sortcallback(){
        console.log("sort button clicked")
        var mylist = $('#courses-list');
        var listitems = mylist.children('li').get();
        listitems.sort(function(a, b) {
           return $(a).text().toUpperCase().localeCompare($(b).text().toUpperCase());
        })
        $.each(listitems, function(idx, itm) { mylist.append(itm); });

    };

    $.ajax({
         type: "GET",
         url: "/courses/json",
         contentType: "application/json",
         success: function (data, status, jqXHR) {
            $("#courses-list").empty();
            data.map(function(course){
                $("#courses-list").append('<li class="list-group-item course-list-item"><a href="/courses/' + course.id +'/notes/">' + course.name+ '</a></li>')
            })
         },

         error: function (jqXHR, status) {
             // error handler
             console.log(jqXHR);
             alert('fail' + status.code);
         }
    });
 </script>

{{> footer}}


</body>
</html>
