<!doctype html>
<html>
<head>
    <title>NoteBook</title>
    {{> header}}

    <script src="/js/validateComment.js"></script>
</head>
<body>
<main>
{{> navbar}}

<h2>{{ courseName }} - {{ noteName }}</h2>
<h3>Made by {{ creatorName }} on {{dateCreated}}</h3>

{{#showContent}}
<embed src="{{ filepath }}" width="500" height="375">
{{/showContent}}

{{^showContent}}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1024px-PDF_file_icon.svg.png", height="200px">
{{/showContent}}

<h3>Comments</h3>
<ul>
    {{#commentList}}
        <li id="comment{{ id }}">
            <h4>{{ creator }}:</h4>
            <p>{{ text }}</p>
        </li>
    {{/commentList}}
</ul>
<form id="upvote-form" action="/courses/{{courseId}}/notes/{{noteId}}/upvote" method="post">
    <h3>Upvotes: {{numberOfUpvotes}}</h3>
    <button id ="upvote">Upvote</button>
</form>
<h3>Add a comment:</h3>
<form id="comment-form" onsubmit="return validateComment();" action="/courses/{{courseId}}/notes/{{noteId}}/comment" method="post">
    <textarea id="comment-field" name="text" placeholder="Add a comment..."></textarea><br>
    <button id="submit">Submit</button>
</form>

</main>
{{> footer}}

</body>
</html>
