<!doctype html>
<html>
<head>
    <title>NoteBook</title>
    {{> header}}

    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link href="/css/all.css" rel="stylesheet" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script>
        gapi.load('auth2', function() {
            gapi.auth2.init();
        });
    </script>
</head>
<body onload="checkSub({{ courseId }})">
<main>
    <script src="/js/updateNavbar.js"></script>

    <div class="d-flex align-items-start" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right"
             id="sidebar-wrapper">
            <div class="sidebar-heading">
                <p id="course-name-heade" class="break">{{ courseName}}</p>
                <div>
                    <button class="btn btn-outline-primary my-2 my-sm-0"
                            id="add-note-button" onclick="checkSignin({{ courseId }});">Add a
                        Note</button>
                    <button class="btn btn-primary my-2 my-sm-0"
                            id="subscribe-btn" onClick="subscribe
                            ({{courseId}})">
                        Subscribe
                    </button>
                    <button class="btn btn-warning  my-2 my-sm-0"
                            id="unsubscribe-btn" onClick="unsubscribe
                            ({{courseId}})" style="display: none">
                        Unsubscribe
                    </button>
                </div>
            </div>
            <div class="show sidebar-heading">
                <form id="search-form">
                    <div class="input-group mb-3">
                        <input class="form-control" name="search-notes" type="text" id="searchbar" placeholder="Search Notes">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary"
                                    type="button"
                                    id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Search
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item" type="button"
                                        onclick="searchcallback('title', {{courseId}})">Title</button>
                                <button class="dropdown-item" type="button"
                                        onclick="searchcallback('body', {{courseId}})">Body</button>
                                <button class="dropdown-item" type="button"
                                        onclick="searchcallback('creator', {{courseId}})">Creator</button>
                                <button class="dropdown-item" type="button"
                                        onclick="searchcallback('date', {{courseId}})">Date</button>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-outline-primary my-2 my-sm-0"
                                id="reset-button" onClick="queryAllNotes({{courseId}})">
                            Reset
                        </button>
                        <button class="btn btn-outline-primary dropdown-toggle"
                                type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort By
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <button class="dropdown-item" type="button"
                                    onclick="sortcallback('title', {{courseId}})">Title</button>
                            <button class="dropdown-item" type="button" onclick="sortcallback('date', {{courseId}})">Date
                                Added</button>
                            <button class="dropdown-item" type="button" onclick="sortcallback('upvotes', {{courseId}})">Upvotes</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="list-group list-group-flush" id="note-list">
                {{#noteList}}
                    <a data-courseId="{{courseId}}" data-noteId="{{id}}"
                       class="note-select list-group-item
                   list-group-item-action break">{{ title }} by {{ creator }}
                        <br> Upvotes: {{upvotes}} </a>
                {{/noteList}}
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        {{> modal}}
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light
            ">
                <meta name="google-signin-client_id" content="1007975177449-pldhrc1i4sabkqejrt0i62c2oppmvabf.apps.googleusercontent.com">
                <script src="https://apis.google.com/js/platform.js" async defer></script>
                <link rel="stylesheet" href="/css/nav-custom.css">
                <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/courses">Course List</a>
                        </li>
                    </ul>
                    <div class="g-signin2" id="signin-btn" data-onsuccess="onSignIn"></div>
                    <script>
                        function onSignIn(googleUser) {
                            updateNavbar();
                            checkSub({{courseId}});
                        }
                    </script>
                    <button id="signout-btn" onclick="signOut();">Sign
                        out</button>
                </div>
            </nav>
            <div class="container-fluid" id="note-frame-container">
                <iframe id="note-frame" src=""></iframe>
            </div>
            {{> footer}}
        </div>
        <!-- /#page-content-wrapper -->
    </div>

</main>

<script src="/js/noteAjax.js"></script>
<script>
    $("#menu-toggle").click(function(e) {
        console.log("Toggle clicked");
        e.preventDefault();
        $("#wrapper").toggleClass('toggle');
    });
    gapiPromise.then(() => {
        var auth2 = window.gapi.auth2.getAuthInstance();
        if (!auth2.isSignedIn.get()) {
            auth2.signIn();
        }
    });
</script>
</body>
</html>