{{> header}}
<script>
function validateComment() {
    var comment = document.getElementById("comment-field").value;
    if (comment.length < 1) {
        alert("Comment cannot be empty!");
        return false;
    } else if (comment.length > 1000) {
        alert("Comment too long!");
        return false;
    }

    var user = document.getElementById("creator-field").value;
    if (user.length < 1) {
        alert("Username cannot be empty!");
        return false;
    } else if (user.length > 30) {
        alert("Username too long!");
        return false;
    }
    return true;
}
</script>
{{> navbar}}

<h2>{{ courseName }} - {{ noteName }}</h2>
<h3>{{ creatorName }}</h3>

{{#showContent}}
<embed src="{{ filepath }}" width="500" height="375">
{{/showContent}}

{{^showContent}}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1024px-PDF_file_icon.svg.png", height="200px">
{{/showContent}}

<h3>Comments</h3>
<ul>
    {{#commentList}}
        <li id="comment{{ id }}">
            <h4>{{ creator }}:</h4>
            <p>{{ text }}</p>
        </li>
    {{/commentList}}
</ul>
<!-- TODO style -->

<h3>Add a comment:</h3>
<form id="comment-form" onsubmit="return validateComment();" action="./addComment" method="post" enctype="multipart/form-data">
    <textarea id="comment-field" name="text" placeholder="Add a comment..."></textarea><br>
    <input type="text" id="creator-field" name="creator" placeholder="User"><br>
<button id="submit">Submit</button>
</form>
<!--- TODO style -->
<!--- TODO check for vulnerability to sql injection/other attacks -->



{{> footer}}
