<!doctype html>
<html>
<head>
    <title>NoteBook</title>
    {{> header}}

    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.css">
    <script>
        gapi.load('auth2', function() {
            gapi.auth2.init();
        });
    </script>
</head>
<body>
<main>
{{> navbar}}

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">
            <div id="course-name-header">{{ courseName }}</div>
            <div>
                <button class="btn btn-outline-primary my-2 my-sm-0"
                   id="add-note-button" onclick="checkSignin({{ courseId }});">Add a
                    Note</button>
            </div>
        </div>
        <div class="show sidebar-heading">
            <form id="search-form">
                <div class="input-group mb-3">
                    <input class="form-control" name="search-notes" type="text" id="searchbar" placeholder="Search Notes">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary"
                                type="button"
                        id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Search
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button"
                                onclick="searchcallback('title', {{courseId}})">Title</button>
                            <button class="dropdown-item" type="button"
                                onclick="searchcallback('body', {{courseId}})">Body</button>
                            <button class="dropdown-item" type="button"
                                onclick="searchcallback('creator', {{courseId}})">Creator</button>
                            <button class="dropdown-item" type="button"
                                onclick="searchcallback('date', {{courseId}})">Date</button>
                        </div>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-outline-primary my-2 my-sm-0"
                            id="reset-button" onClick="history.go(0);">
                        Clear Filter
                    </button>
                    <button class="btn btn-outline-primary dropdown-toggle"
                            type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <button class="dropdown-item" type="button"
                            onclick="sortcallback('title', {{courseId}})">Title</button>
                        <button class="dropdown-item" type="button" onclick="sortcallback('date', {{courseId}})">Date
                            Added</button>
                        <button class="dropdown-item" type="button" onclick="sortcallback('upvotes', {{courseId}})">Upvotes</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="list-group list-group-flush" id="note-list">
            {{#noteList}}
                <a data-courseId="{{courseId}}" data-noteId="{{id}}"
                   class="note-select list-group-item
                   list-group-item-action">{{ title }} by {{ creator }}
                        <br> Upvotes: {{upvotes}} </a>
            {{/noteList}}
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
{{> modal}}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid" id="note-frame-container">
            <iframe id="note-frame" src=""></iframe>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>

</main>
{{> footer}}

<script src="/js/noteAjax.js"></script>
</body>
</html>