<!doctype html>
<html>
<head>
    <title>NoteBook</title>
    {{> header}}
    <meta name="google-signin-client_id" content="599099010175-qf5uech07mf9idg75fco1uj7jufs2um1.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="/css/all.css">
</head>
<body>
<main>
{{> navbar}}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>

                </div>
            </div>
        </div>
    </div>
</div>

</main>
{{> footer}}

</body>
</html>